$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.square {
	border: 1px solid black;
	width:100px;
	height: 100px;
}

p {
    display: inline-block;
}

#overlay {
	position:absolute;
	top:80px;
	left:0;
	right:0;
	bottom:0;
	background-color:white;
	z-index:9998;
	padding-top: 100px;
	padding-left: 300px;
	padding-right: 300px;
	text-align: center;
	font-size: 5em;
}
#welcomeModal {
	z-index:9999;
}

.container {
	margin-top: 20px;
  width: 330px;
}

h1 {
	text-align: center;
	color: #59b294;
}

#board{
	margin: auto auto;
	width: 306px;
}

// #playero {
// 	display: inline-block;
//
// }
//
// #playerx {
// 	display: inline-block;
//
// }
// #numberOfTies {
// 	display: inline-block;
// }

body {
	background-color: white;
	color: #59b294;
}

.btn-custom {
  background-color: hsl(170, 47%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#52c0ae", endColorstr="#3ba493");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#52c0ae), to(#3ba493));
  background-image: -moz-linear-gradient(top, #52c0ae, #3ba493);
  background-image: -ms-linear-gradient(top, #52c0ae, #3ba493);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52c0ae), color-stop(100%, #3ba493));
  background-image: -webkit-linear-gradient(top, #52c0ae, #3ba493);
  background-image: -o-linear-gradient(top, #52c0ae, #3ba493);
  background-image: linear-gradient(#52c0ae, #3ba493);
  border-color: #3ba493 #3ba493 hsl(170, 47%, 41.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.gameStatistics {
	font-weight: bold;
}
