$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.square {
	border: 1px solid black;
	width:100px;
	height: 100px;
}

h1 {
	text-align: center;
	color: #59b294;
}

#board{
	margin: auto auto;
	width: 306px;
}

#playero {
	color: #999999;
	display: inline-block;
}

#playerx {
	color: #4dffc3;
	display: inline-block;
}
#numberOfTies {
	display: inline-block;
}

body {
	background-color: white;
	color: #59b294;
}
